@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
} 


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090B;
}

::-webkit-scrollbar-thumb {
  background: #282523;
  border-radius: 9999px;
}

::-webkit-scrollbar-button {
  display: none;
}